/* Adds backround color */
body {
  background-color: #ADD8E6;
}

/* Centers text */
.text-centered {
  text-align: center;
}

/* Centers image */
.imgCont {
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

/* Allows buulet points inside of pageCont */
.list-inside li {
  list-style-position: inside;
}

/* Centers Header, adds font/size, makes color black */
.headers {
  text-align: center;
  font-family: "Chalkduster", fantasy;
  font-size: 25px;
  color: black;  
}

/* Aligns container-center, adds margins to each side, makes size 75%, adds darkgrey backround */
.pageCont {
  box-align: center;
  margin: 25px 15px 20px 15px;
  size: 100%;
  background-color: darkgrey;
}

/* Centers textCont, adds margins, adds width */
.textCont {
  box-align: center;
  margin: 30px 30px 30px 30px;
  width: 15%;
}

/* Centers text, adds font/size, makes color black */
.p {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: black;
}

/* Centers list, adds font/size/color */
.lists{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: darkslategrey;
}

/* Centers footer, adds font/size/color */
.footer {
  text-align: center;
  font-family: Courier New, monospace;
  font-size: 20px;
  text: bold;
  color: black;
}
