/* Adds backround color */
body {
  background-color: #ADD8E6;
}


/* Centers text */
.text-centered {
  text-align: center;
}

/* Allows buulet points inside of pageCont */
.list-inside li {
  list-style-position: inside;
}

/* Centers image */
.img {
  display: block;
  width: 60%;
  size: 100px;
  }

/* Centers Header, adds font/size, makes color black */
.headers {
  text-align: center;
  font-family: "Chalkduster", fantasy;
  font-size: 25px;
  color: black;  
}

/* Aligns container-center, adds margins to each side, makes size 75%, adds darkgrey backround */
.pageCont {
  box-align: center;
  margin: 20px 15px 20px 15px
  size: 75%;
  background-color: darkgrey;
}

/* Centers textCont, adds margins, adds width */
.textCont {
  box-align: center;
  margin: 15px 15px 15px 15px;
  width: 60%;
}

/* Centers text, adds font/size, makes color black */
.paragraphs {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: black;
}

/* Centers list, adds font/size/color */
.lists{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: darkslategrey;
}

/* Centers footer, adds mfont/size/color */
.footer {
  text-align: center;
  font-family: Courier New, monospace;
  font-size: 20px;
  text: bold;
  color: black;
}
