body {
  background-color: #ADD8E6;
}

.text-centered {
  text-align: center;
}

.list-inside li {
  list-style-position: inside;
}

.img {
  display: block;
  width: 60%;
  margin: auto;
  }

.headers {
  text-align: center;
  font-family: "Chalkduster", fantasy;
  font-size: 25px;
  color: black;
  
}

.pageCont {
  box-align: center;
  margin: 20px 15px 20px 15px
  size: 75%;
  background-color: darkgrey;
}

.textContainer {
  box-align: center;
  margin: 15px 15px 15px 15px;
  width: 300px;
}

.imageCont {
  size: 150%;
}

.paragraphs {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: black;
}

.lists{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: darkslategrey;
}

.footer {
  text-align: center;
  font-family: Courier New, monospace;
  font-size: 20px;
  text: bold;
  color: black;
}
